{% extends 'temp/main_volunteer.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>ATTENDANCE DETAILS</title>
</head>
<body>
<center>
	<h1>ATTENDANCE DETAILS</h1>
    <table border="2" class="table table-striped">
    	<tr>
    		<td style="color: black">Name</td>
    		<td style="color: black">Date</td>
    		<td style="color: black">Event</td>
            <td style="color: black">Nature of event</td>
    		<td style="color: black">Attendance</td>
    	</tr>
        {% for i in x %}
         <tr>
            <td style="color: white">{{ i.volunteer.name}}</td>
            <td style="color: white">{{ i.event.date }}</td>
            <td style="color: white">{{ i.event.e_name }}</td>
            <td style="color: white">{{ i.event.e_nature }}</td>
            <td style="color: white">{{ i.attendance}}</td>

        </tr>
        {% endfor %}

    </table>
    

</center>

</body>
</html>
{% endblock %}