{% extends 'temp/main_volunteer.html' %}
{% block base %}

<!DOCTYPE html>
<html>
<head>
	<title>VOLUNTEER DETAILS</title>
</head>
<body>
<center>
	<h1>VOLUNTEER</h1>
     <table border="2" class="table table-striped">
    	<tr>
    		<td style="color: black">Name</td>
    		<td style="color: black">Department</td>
    		<td style="color: black">Regno</td>
    		<td style="color: black">Age</td>
    		<td style="color: black">Gender</td>
    		<td style="color: black">Year</td>
    	</tr>
        {% for i in x %}
    	<tr style="color: white">
    		<td>{{ i.name }}</td>
    		<td>{{ i.department }}</td>
    		<td>{{ i.regno }}</td>
    		<td>{{ i.age }}</td>
    		<td>{{ i.gender }}</td>
    		<td>{{ i.year }}</td>
    		<td><a href="/volunteer/updtv/{{ i.volunteer_id }}"class="btn btn-primary">Update</a></td>
    	</tr>
        {% endfor %}
    </table>

</center>

</body>
</html>
{% endblock %}