{% extends 'temp/main_home.html' %}
{% block base %}
<!DOCTYPE html>
<html>
<head>
	<title>VOLUNTEER REGISTRATION</title>
</head>
<body>
<center>
	<h1>VOLUNTEER REGISTRATION</h1>
	<form method="post">
        {% csrf_token %}
		<table>
			<tr style="color: white">
				<td>Name:</td>
				<td><input type="text" name="vnm" required class="form-control"></td>
			</tr>
			<tr style="color: white">
				<td>Department:</td>
				<td><input type="text" name="vdpt" required class="form-control"></td>
			</tr>
            <tr style="color: white">
				<td>Age:</td>
				<td><input type="text " name="vage" required pattern="[0-9]{2}" minlength="2" maxlength="2" class="form-control"></td>
			</tr>
			<tr style="color: white">
				<td>Regno:</td>
				<td><input type="text" name="vreg" required minlength="10" maxlength="10" class="form-control"></td>
			</tr>
{#			<tr>#}
{#				<td>Gender:</td>#}
{#				<td><input type="text" name="vgndr" required></td>#}
{#			</tr>#}
            <tr style="color: white">
				<td>Gender:</td>
				<td><input type="radio" name="fml" value="female" checked>female
					<input type="radio" name="fml" value="male">male
                    <input type="radio" name="fml" value="other">other</td>
			</tr>


			<tr style="color: white">
				<td>Year:</td>
				<td><input type="text" name="vyr" required class="form-control"></td>
			</tr>
			<tr style="color: white">
				<td>Password:</td>
				<td><input type="Password" name="vpswd" required minlength="6" maxlength="8" class="form-control"></td>
			</tr>
			<tr style="color: white">
				<td></td>
				<td><input type="submit" name="vbtn" value="register" class="btn btn-dark" style="border-radius: #1b2f4c;width: 100px"></td></td>
			</tr>

</table>
</form>
    {% if msg == 'ok' %}
        <script>
        alert('registered successfully')
        </script>
        {% elif msg == 'user' %}
        <script>
        alert("user already exist")
        </script>
    {% endif %}
</center>
</body>
</html>
{% endblock %}